@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
                    font-family: Flaticon;
                    font-style: normal;
                    
}.flaticon-apple54:before {
	content: "\e000";
}
.flaticon-arrow39:before {
	content: "\e001";
}
.flaticon-arrow487:before {
	content: "\e002";
}
.flaticon-arrow621:before {
	content: "\e003";
}
.flaticon-arrowhead7:before {
	content: "\e004";
}
.flaticon-ascendant6:before {
	content: "\e005";
}
.flaticon-ask3:before {
	content: "\e006";
}
.flaticon-back57:before {
	content: "\e007";
}
.flaticon-badges1:before {
	content: "\e008";
}
.flaticon-bank64:before {
	content: "\e009";
}
.flaticon-banking2:before {
	content: "\e00a";
}
.flaticon-bars11:before {
	content: "\e00b";
}
.flaticon-bars42:before {
	content: "\e00c";
}
.flaticon-black268:before {
	content: "\e00d";
}
.flaticon-books8:before {
	content: "\e00e";
}
.flaticon-building104:before {
	content: "\e00f";
}
.flaticon-building33:before {
	content: "\e010";
}
.flaticon-buildings8:before {
	content: "\e011";
}
.flaticon-businessmen5:before {
	content: "\e012";
}
.flaticon-calendar146:before {
	content: "\e013";
}
.flaticon-calendar68:before {
	content: "\e014";
}
.flaticon-calentar:before {
	content: "\e015";
}
.flaticon-call37:before {
	content: "\e016";
}
.flaticon-call60:before {
	content: "\e017";
}
.flaticon-cellphone87:before {
	content: "\e018";
}
.flaticon-cellphone91:before {
	content: "\e019";
}
.flaticon-checked21:before {
	content: "\e01a";
}
.flaticon-circle39:before {
	content: "\e01b";
}
.flaticon-circular-clock3:before {
	content: "\e01c";
}
.flaticon-circular116:before {
	content: "\e01d";
}
.flaticon-city8:before {
	content: "\e01e";
}
.flaticon-class6:before {
	content: "\e01f";
}
.flaticon-clock96:before {
	content: "\e020";
}
.flaticon-college1:before {
	content: "\e021";
}
.flaticon-computer214:before {
	content: "\e022";
}
.flaticon-computers3:before {
	content: "\e023";
}
.flaticon-connected21:before {
	content: "\e024";
}
.flaticon-connected22:before {
	content: "\e025";
}
.flaticon-connector3:before {
	content: "\e026";
}
.flaticon-contract11:before {
	content: "\e027";
}
.flaticon-creditcard:before {
	content: "\e028";
}
.flaticon-creditcard3:before {
	content: "\e029";
}
.flaticon-curriculum3:before {
	content: "\e02a";
}
.flaticon-customerservice13:before {
	content: "\e02b";
}
.flaticon-dart13:before {
	content: "\e02c";
}
.flaticon-diploma2:before {
	content: "\e02d";
}
.flaticon-diploma20:before {
	content: "\e02e";
}
.flaticon-direction237:before {
	content: "\e02f";
}
.flaticon-dollar185:before {
	content: "\e030";
}
.flaticon-dollarsymbol29:before {
	content: "\e031";
}
.flaticon-donate1:before {
	content: "\e032";
}
.flaticon-donation1:before {
	content: "\e033";
}
.flaticon-download164:before {
	content: "\e034";
}
.flaticon-draft:before {
	content: "\e035";
}
.flaticon-draw39:before {
	content: "\e036";
}
.flaticon-earth213:before {
	content: "\e037";
}
.flaticon-ecologic5:before {
	content: "\e038";
}
.flaticon-elderly2:before {
	content: "\e039";
}
.flaticon-email19:before {
	content: "\e03a";
}
.flaticon-email5:before {
	content: "\e03b";
}
.flaticon-facebook29:before {
	content: "\e03c";
}
.flaticon-factory6:before {
	content: "\e03d";
}
.flaticon-factory7:before {
	content: "\e03e";
}
.flaticon-fast44:before {
	content: "\e03f";
}
.flaticon-fastforward4:before {
	content: "\e040";
}
.flaticon-favorite21:before {
	content: "\e041";
}
.flaticon-file-format:before {
	content: "\e042";
}
.flaticon-file150:before {
	content: "\e043";
}
.flaticon-finance-and-business4:before {
	content: "\e044";
}
.flaticon-finances1:before {
	content: "\e045";
}
.flaticon-first31:before {
	content: "\e046";
}
.flaticon-forward18:before {
	content: "\e047";
}
.flaticon-frame28:before {
	content: "\e048";
}
.flaticon-frame29:before {
	content: "\e049";
}
.flaticon-frame30:before {
	content: "\e04a";
}
.flaticon-frame31:before {
	content: "\e04b";
}
.flaticon-frame32:before {
	content: "\e04c";
}
.flaticon-frame33:before {
	content: "\e04d";
}
.flaticon-frame34:before {
	content: "\e04e";
}
.flaticon-frame35:before {
	content: "\e04f";
}
.flaticon-frame36:before {
	content: "\e050";
}
.flaticon-frame37:before {
	content: "\e051";
}
.flaticon-gear39:before {
	content: "\e052";
}
.flaticon-global53:before {
	content: "\e053";
}
.flaticon-graduate33:before {
	content: "\e054";
}
.flaticon-graduate38:before {
	content: "\e055";
}
.flaticon-graduated:before {
	content: "\e056";
}
.flaticon-graduation-cap2:before {
	content: "\e057";
}
.flaticon-graduation22:before {
	content: "\e058";
}
.flaticon-hand317:before {
	content: "\e059";
}
.flaticon-hand321:before {
	content: "\e05a";
}
.flaticon-hands10:before {
	content: "\e05b";
}
.flaticon-heart13:before {
	content: "\e05c";
}
.flaticon-help:before {
	content: "\e05d";
}
.flaticon-help1:before {
	content: "\e05e";
}
.flaticon-help18:before {
	content: "\e05f";
}
.flaticon-help20:before {
	content: "\e060";
}
.flaticon-home120:before {
	content: "\e061";
}
.flaticon-home148:before {
	content: "\e062";
}
.flaticon-home153:before {
	content: "\e063";
}
.flaticon-home168:before {
	content: "\e064";
}
.flaticon-home7:before {
	content: "\e065";
}
.flaticon-home78:before {
	content: "\e066";
}
.flaticon-house109:before {
	content: "\e067";
}
.flaticon-house112:before {
	content: "\e068";
}
.flaticon-house204:before {
	content: "\e069";
}
.flaticon-house28:before {
	content: "\e06a";
}
.flaticon-house3:before {
	content: "\e06b";
}
.flaticon-house34:before {
	content: "\e06c";
}
.flaticon-houses30:before {
	content: "\e06d";
}
.flaticon-id-kah:before {
	content: "\e06e";
}
.flaticon-idea13:before {
	content: "\e06f";
}
.flaticon-idea14:before {
	content: "\e070";
}
.flaticon-identification57:before {
	content: "\e071";
}
.flaticon-info28:before {
	content: "\e072";
}
.flaticon-info31:before {
	content: "\e073";
}
.flaticon-info45:before {
	content: "\e074";
}
.flaticon-info47:before {
	content: "\e075";
}
.flaticon-info5:before {
	content: "\e076";
}
.flaticon-info8:before {
	content: "\e077";
}
.flaticon-information3:before {
	content: "\e078";
}
.flaticon-inspiration:before {
	content: "\e079";
}
.flaticon-international42:before {
	content: "\e07a";
}
.flaticon-internet18:before {
	content: "\e07b";
}
.flaticon-iphone26:before {
	content: "\e07c";
}
.flaticon-islam17:before {
	content: "\e07d";
}
.flaticon-islam19:before {
	content: "\e07e";
}
.flaticon-islam2:before {
	content: "\e07f";
}
.flaticon-islam35:before {
	content: "\e080";
}
.flaticon-islam58:before {
	content: "\e081";
}
.flaticon-islam60:before {
	content: "\e082";
}
.flaticon-islam61:before {
	content: "\e083";
}
.flaticon-islam63:before {
	content: "\e084";
}
.flaticon-islam64:before {
	content: "\e085";
}
.flaticon-jewel5:before {
	content: "\e086";
}
.flaticon-key206:before {
	content: "\e087";
}
.flaticon-keyboard53:before {
	content: "\e088";
}
.flaticon-laptopcomputer14:before {
	content: "\e089";
}
.flaticon-left205:before {
	content: "\e08a";
}
.flaticon-left207:before {
	content: "\e08b";
}
.flaticon-leftarrow23:before {
	content: "\e08c";
}
.flaticon-lightbulb58:before {
	content: "\e08d";
}
.flaticon-like85:before {
	content: "\e08e";
}
.flaticon-login12:before {
	content: "\e08f";
}
.flaticon-logistics3:before {
	content: "\e090";
}
.flaticon-logout13:before {
	content: "\e091";
}
.flaticon-magnifier12:before {
	content: "\e092";
}
.flaticon-magnifier13:before {
	content: "\e093";
}
.flaticon-magnifying-glass32:before {
	content: "\e094";
}
.flaticon-mail3:before {
	content: "\e095";
}
.flaticon-marketing8:before {
	content: "\e096";
}
.flaticon-maths5:before {
	content: "\e097";
}
.flaticon-menu48:before {
	content: "\e098";
}
.flaticon-mind:before {
	content: "\e099";
}
.flaticon-monitor89:before {
	content: "\e09a";
}
.flaticon-monument53:before {
	content: "\e09b";
}
.flaticon-mosque:before {
	content: "\e09c";
}
.flaticon-mosque10:before {
	content: "\e09d";
}
.flaticon-mosque11:before {
	content: "\e09e";
}
.flaticon-mosque5:before {
	content: "\e09f";
}
.flaticon-mosque6:before {
	content: "\e0a0";
}
.flaticon-mosque7:before {
	content: "\e0a1";
}
.flaticon-mosque9:before {
	content: "\e0a2";
}
.flaticon-mouse2:before {
	content: "\e0a3";
}
.flaticon-multiple25:before {
	content: "\e0a4";
}
.flaticon-museum39:before {
	content: "\e0a5";
}
.flaticon-network65:before {
	content: "\e0a6";
}
.flaticon-next21:before {
	content: "\e0a7";
}
.flaticon-notebook87:before {
	content: "\e0a8";
}
.flaticon-notebook88:before {
	content: "\e0a9";
}
.flaticon-offices:before {
	content: "\e0aa";
}
.flaticon-online15:before {
	content: "\e0ab";
}
.flaticon-online21:before {
	content: "\e0ac";
}
.flaticon-online26:before {
	content: "\e0ad";
}
.flaticon-online28:before {
	content: "\e0ae";
}
.flaticon-open-book1:before {
	content: "\e0af";
}
.flaticon-open135:before {
	content: "\e0b0";
}
.flaticon-open161:before {
	content: "\e0b1";
}
.flaticon-opened17:before {
	content: "\e0b2";
}
.flaticon-opened4:before {
	content: "\e0b3";
}
.flaticon-operator:before {
	content: "\e0b4";
}
.flaticon-opposite5:before {
	content: "\e0b5";
}
.flaticon-ornament14:before {
	content: "\e0b6";
}
.flaticon-package34:before {
	content: "\e0b7";
}
.flaticon-pakistan4:before {
	content: "\e0b8";
}
.flaticon-payment7:before {
	content: "\e0b9";
}
.flaticon-pen38:before {
	content: "\e0ba";
}
.flaticon-pen81:before {
	content: "\e0bb";
}
.flaticon-people:before {
	content: "\e0bc";
}
.flaticon-phone21:before {
	content: "\e0bd";
}
.flaticon-phone325:before {
	content: "\e0be";
}
.flaticon-phonecall:before {
	content: "\e0bf";
}
.flaticon-pin56:before {
	content: "\e0c0";
}
.flaticon-pointer31:before {
	content: "\e0c1";
}
.flaticon-question12:before {
	content: "\e0c2";
}
.flaticon-question58:before {
	content: "\e0c3";
}
.flaticon-questions1:before {
	content: "\e0c4";
}
.flaticon-raindrop2:before {
	content: "\e0c5";
}
.flaticon-recognition6:before {
	content: "\e0c6";
}
.flaticon-redo:before {
	content: "\e0c7";
}
.flaticon-refresh57:before {
	content: "\e0c8";
}
.flaticon-religion53:before {
	content: "\e0c9";
}
.flaticon-right-arrow26:before {
	content: "\e0ca";
}
.flaticon-right208:before {
	content: "\e0cb";
}
.flaticon-right218:before {
	content: "\e0cc";
}
.flaticon-rightarrow26:before {
	content: "\e0cd";
}
.flaticon-round67:before {
	content: "\e0ce";
}
.flaticon-sales3:before {
	content: "\e0cf";
}
.flaticon-save-file:before {
	content: "\e0d0";
}
.flaticon-school1:before {
	content: "\e0d1";
}
.flaticon-screen54:before {
	content: "\e0d2";
}
.flaticon-send4:before {
	content: "\e0d3";
}
.flaticon-settings48:before {
	content: "\e0d4";
}
.flaticon-shop14:before {
	content: "\e0d5";
}
.flaticon-shop3:before {
	content: "\e0d6";
}
.flaticon-shopping155:before {
	content: "\e0d7";
}
.flaticon-shoppingcart16:before {
	content: "\e0d8";
}
.flaticon-signature3:before {
	content: "\e0d9";
}
.flaticon-smartphone55:before {
	content: "\e0da";
}
.flaticon-smartphone86:before {
	content: "\e0db";
}
.flaticon-social108:before {
	content: "\e0dc";
}
.flaticon-stopwatch6:before {
	content: "\e0dd";
}
.flaticon-store5:before {
	content: "\e0de";
}
.flaticon-student13:before {
	content: "\e0df";
}
.flaticon-teacher14:before {
	content: "\e0e0";
}
.flaticon-teacher4:before {
	content: "\e0e1";
}
.flaticon-teacher43:before {
	content: "\e0e2";
}
.flaticon-teacher44:before {
	content: "\e0e3";
}
.flaticon-teamwork:before {
	content: "\e0e4";
}
.flaticon-telephone46:before {
	content: "\e0e5";
}
.flaticon-temple20:before {
	content: "\e0e6";
}
.flaticon-temple3:before {
	content: "\e0e7";
}
.flaticon-temple8:before {
	content: "\e0e8";
}
.flaticon-time36:before {
	content: "\e0e9";
}
.flaticon-tool530:before {
	content: "\e0ea";
}
.flaticon-toolbox3:before {
	content: "\e0eb";
}
.flaticon-triangular42:before {
	content: "\e0ec";
}
.flaticon-university19:before {
	content: "\e0ed";
}
.flaticon-upload119:before {
	content: "\e0ee";
}
.flaticon-urban:before {
	content: "\e0ef";
}
.flaticon-user168:before {
	content: "\e0f0";
}
.flaticon-users6:before {
	content: "\e0f1";
}
.flaticon-verification5:before {
	content: "\e0f2";
}
.flaticon-water-drop:before {
	content: "\e0f3";
}
.flaticon-water126:before {
	content: "\e0f4";
}
.flaticon-water61:before {
	content: "\e0f5";
}
.flaticon-water64:before {
	content: "\e0f6";
}
.flaticon-web58:before {
	content: "\e0f7";
}
.flaticon-website8:before {
	content: "\e0f8";
}
.flaticon-wheelchair10:before {
	content: "\e0f9";
}
.flaticon-wifi74:before {
	content: "\e0fa";
}
.flaticon-wirelessconnectivity46:before {
	content: "\e0fb";
}
.flaticon-work17:before {
	content: "\e0fc";
}
.flaticon-worker5:before {
	content: "\e0fd";
}
.flaticon-write12:before {
	content: "\e0fe";
}
