﻿.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}
.news-item img{
    float: left;
    max-width: 100px;
    max-height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important ;
    padding: 2px 2px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 10px;
    
}
.news-item p{
margin: 10px;
padding-top: 0px;
}
.news-item:first-child{
    padding-top: 10px;
   // border-top:1px dotted #555;
}
.event-small-list:first-child{
    padding-top: 0px;
    border-top:1px dotted #555;
}
.event-small-list:last-child{
    padding-bottom: 10px;
}