
/* Carshire - Car Repair Service HTML5 Template */


/************ TABLE OF CONTENTS ***************
1.  Fonts
2.  Reset
3.  Global
4.  Main Header  613 / 705
5.  Main Slider
6.  Features Section / Column View
7.  Intro section
8.  Tabs Section
9.  Testimonials Section
10. Meet Our Team
11. Latest Blog
12. Sponsors
13. Main Footer
14. Default Section
15. Gallery Tabs
16. Services Style
17. Price and Plans
18. Vertical Gallery
19. Filter Section
20. Sidebar Page / Blog Posts / Sidebar / Comments Area
21. Contact Us


**********************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url('font-awesome.css');
@import url('flaticon.css');
@import url('hover.css');
@import url('animate.css');
@import url('jquery.fancybox.css');
@import url('owl.css');

/*** 

====================================================================
	Reset
====================================================================

 ***/
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	font-size:16px;
	color:#292929;
	line-height:2em;
	font-weight:400;
	background:#ffffff;
}

a{
	text-decoration:none;
	cursor:pointer;	
}

a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	font-family: "Open Sans", Arial, Helvetica, sans-serif ;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.4em;
}

input,button,select,textarea{
	font-family: "Open Sans", Arial, Helvetica, sans-serif ;	
}

/*::-webkit-input-placeholder { color:rgba(0,0,0,0.80);}
::-moz-placeholder { color:rgba(0,0,0,0.80) ;}
:-ms-input-placeholder { color:rgba(0,0,0,0.80) ;}
input:-moz-placeholder { color:rgba(0,0,0,0.80) ;}*/

p{
	position:relative;
		
}

.strike-through{
	text-decoration:line-through;	
}

.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
        
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
	min-height:400px;
	overflow:hidden;
        
	
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

.theme-btn{
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.center{
	text-align:center;	
}

.theme-bg{
	background-color:#fc5a1b;	
}

.theme-color{
	color:#fc5a1b;	
}

.out{
	opacity:0;	
}

.in{
	opacity:1;	
}

.uppercase{
	text-transform:uppercase !important;	
}

.capitalized{
	text-transform:capitalize !important;	
}

.lowercase{
	text-transform:lowercase !important;	
}

.no-uppercase{
	text-transform:none !important;	
}

.light-btn{
	position:relative;
	display:inline-block;
	padding:10px 30px;
	line-height:26px;
	border:1px solid transparent;
	background:#fc5a1b;
	margin-bottom:5px;
	color:#ffffff;
	text-transform:uppercase;
	font-family: 'Droid Sans', sans-serif;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.dark-btn{
	position:relative;
	display:inline-block;
	padding:5px 5px;
	line-height:22px;
	font-size:14px;
	border:1px solid transparent;	
	color:#007C00;
	text-transform:uppercase;
}

.light-btn:hover,
.dark-btn:hover{
	
	color:#A2CE53;	
}

.dark-btn.style-two{
	background:#1A934B;
                    color: #336699;
}

.dark-btn.style-two:hover{
	color:#000000;
	background:#5DBF4E;	
}

.btn-style-one{
	position:relative;
	display:inline-block;
	overflow:hidden;
	border:1px solid #dddddd;
	background:#ffffff;
	color:#000000;
	line-height:22px;
	padding:5px 15px;
	font-size:14px;
	text-transform:uppercase;
}

.btn-style-one .fa,
.dark-btn .fa{
	position:relative;
	font-size:16px;
	padding-right:15px;	
}

.btn-style-one:hover{
	background-color:#a0ce4e;
	border-color:#a0ce4e;
	color:#ffffff;	
}

.default-btn{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:8px 24px;
	font-size:14px;
	text-transform:uppercase;
	margin:0px 10px;
	color:#000000;
	border:1px solid #dddddd;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
}

.default-btn:hover{
	color:#ffffff !important;	
}

.default-btn::before{
	background-color:#3d3d3d;	
}

.color-white{
	color:#ffffff !important;
}

.color-grey{
	color:#292929 !important;
}

.no-margin{
	margin:0px !important;	
}

.no-float{
	float:none !important;	
}

.skew-lines{
	position:relative;
	font-size:18px;
	padding-left:60px;	
}

.skew-lines:before{
	content:'';
	position:absolute;
	left:10px;
	top:5px;
	width:10px;
	height:20px;
	background:#4abf4e;
	transform:skewX(-35deg);
	-webkit-transform:skewX(-35deg);
	-moz-transform:skewX(-35deg);
	-ms-transform:skewX(-35deg);
	-o-transform:skewX(-35deg);	
}

.skew-lines:after{
	content:'';
	position:absolute;
	left:24px;
	top:5px;
	width:10px;
	height:20px;
                   background:#4abf4e;
	transform:skewX(-35deg);
	-webkit-transform:skewX(-35deg);
	-moz-transform:skewX(-35deg);
	-ms-transform:skewX(-35deg);
	-o-transform:skewX(-35deg);	
}

.padd-top-20{
	padding-top:20px !important;	
}

.padd-top-30{
	padding-top:30px !important;	
}

.padd-top-40{
	padding-top:40px !important;	
}

.padd-bott-20{
	padding-bottom:20px !important;	
}

.padd-bott-30{
	padding-bottom:30px !important;	
}

.padd-bott-40{
	padding-bottom:40px !important;	
}

.no-padd-bottom{
	padding-bottom:0px !important;	
}

.no-padd-top{
	padding-top:0px !important;	
}

.no-margin-bottom{
	margin-bottom:0px !important;	
}

.no-margin-top{
	margin-bottom:0px !important;	
}

.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:999999; background-color:#ffffff; background-position:center center; background-repeat:no-repeat; background-image:url(../images/icons/preloader.GIF);}

.sec-title{
	position:relative;
	margin-bottom:5px;
	padding-bottom:12px;
	border-bottom:1px solid #e0e0e0;
}

.sec-title h3{
	font-size:18px;
	text-transform:capitalize;
	font-weight:500;	
}

/*** 

====================================================================
	Main Header style
====================================================================

***/

.main-header{
	position:relative;
	width:100%;
	left:0px;
	top:0px;
	z-index:999;
	background:#ffffff;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
}
.main-header-up{
	position:relative;
	width:100%;
	left:0px;
	top:0px;
	z-index:999;
	background:#ffffff;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
}

.main-header-up .header-top{
	position:relative;
	padding:5px 0px;
	background: rgba(39, 152, 41, 0.76);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	
}

.fixed-top-header .header-top{
	padding:0px 0px;
}

.fixed-top-header{
	position:fixed;	
}

.main-header-up .logo{
        float: left;
	position:relative;
       	padding:5px 0px;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-header-up .logo img{
	 float: left;
       
}
.main-header-up .logo .logotext{
	 float: left;
         margin-left: 5px;
         font-family: Cooper ;
         padding-top: 3px;
        
         transition:all 500ms ease-out;
	-webkit-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;
       
}
.main-header-up .logo .span1{
        color: #ffffff;
         font-size: 20px;
        /*text-shadow: 1px 1px 25px #807267, ;*/
        letter-spacing: .5px;
        transition:all 500ms ease-out;
	-webkit-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;
}

.main-header-up .logo .logotext-s {
	position:relative;
        color:#ffffff; 
        letter-spacing: 1px;
        word-spacing: 3px;
        font-size: 20px;
        font-weight: bold;
       
}
.main-header-up .logo:hover .logotext-s{
	color: #ffffff;
        text-shadow: 1px 1px 25px #1A934B, ;

}
.main-header-up .logo:hover .span1{
	color: #ffffff;
        text-shadow: 1px 1px 25px #1A934B, ;

}





.main-header .header-top .search-form .form{
	position:relative;
	margin-top:25px;
	padding-left:30px;	
}

.main-header .header-top .form input[type="text"],
.main-header .header-top .form input[type="password"]{
	position:relative;
	display:block;
	width:100%;
	height:40px;
	line-height:24px;
	font-size:13px;
	padding:7px 50px 7px 15px;
	border:1px solid #cccccc;
	background:#ffffff;
}

.main-header .header-top .form select{
	position:relative;
	display:block;
	width:100%;
	height:40px;
	line-height:24px;
	font-size:13px;
	padding:7px 15px;
	border:1px solid #cccccc;
	border-right:none;
	color:#888888;
	background:#ffffff url(../images/icons/icon-down.png) center right no-repeat;
	cursor:pointer;
	-webkit-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
}

.main-header .header-top .form-group{
	position:relative;
	float:left;
	margin-bottom:10px;	
}

.main-header .header-top .medium{
	width:150px;	
}

.main-header .header-top .form button{
	position:absolute;
	right:0px;
	top:0px;
	width:40px;
	height:40px;
	text-align:center;
	background:#000000;
	line-height:40px;
	color:#ffffff;
	font-size:14px;	
}

.main-header .header-top .form button:hover{
	background:#007C00;	
}

.main-header .header-top .large{
	width:320px;	
}

.main-header .header-top .user-links{
	position:relative;
	margin-top:25px;
}

.main-header .header-top .user-links a{
	position:relative;
/*	text-transform:uppercase;*/
	font-size:15px;
	line-height:30px;
	padding:5px 0px;
	display:inline-block;
	margin:0px 5px;
	color:#565656;	
}

.main-header .header-top .user-links a:hover,
.main-header .header-top .user-links a.active{
	color:#a0ce4e;	
}

.main-header .header-lower{
	position:relative;
	padding:0px 0px;
	background:#1A934B;
                   
	
}

.main-menu{
	position:relative;
	z-index:5;
        
}

.main-menu .navbar-collapse{
	padding:0px 0px;	
}

.main-menu .navbar-collapse > ul > li{
	position:relative;
	float:left;
}

.main-menu .navbar-collapse > ul > li.dropdown > a:after{
	font-family: 'FontAwesome';
	content: "\f107";
	position:absolute;
	right:15px;
	top:18px;
	width:10px;
	height:20px;
	display:block;
	color:#ffffff;
	line-height:20px;
	font-size:16px;
	text-align:center;
	z-index:5;	
}

.main-menu .navbar-collapse > ul > li > a{
	position:relative;
        
	display:block;
	font-size:15px;
	line-height:24px;
	padding:16px 12px;
	color:#ffffff;
	background:none;
	overflow:hidden;
/*	text-transform:uppercase;*/
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-menu .navbar-collapse > ul > li.dropdown > a{
	padding:16px 32px 16px 15px;
}

.main-menu .navbar-collapse > ul > li:hover > a,
.main-menu .navbar-collapse > ul > li.current > a,
.main-menu .navbar-collapse > ul > li.current-menu-item > a{
	color: #AEF531;
	
}

.main-menu .navbar-collapse > ul > li > ul{
    position: absolute;
    display: block;
    width: 210px;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background:#5AB05C;
	border:1px solid rgba(255,255,255,0.50);
	border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	-ms-border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	-o-border-radius:0px 0px 5px 5px;
}

.main-menu .navbar-collapse > ul > li:hover > ul{
	top:100%;
	opacity: 1;
    visibility: visible;
    transition:all 400ms ease 100ms;
	-moz-transition:all 400ms ease 100ms;
	-webkit-transition:all 400ms ease 100ms;
	-ms-transition:all 400ms ease 100ms;
	-o-transition:all 400ms ease 100ms;
}

.main-menu .navbar-collapse > ul > li > ul > li{
	position:relative;
	display:block;
	border-bottom: 1px solid #5dbf4e;
}

.main-menu .navbar-collapse > ul > li > ul li.dropdown:after{
	font-family: 'FontAwesome';
	content:'\f0da';
	position:absolute;
	right:7px;
	top:7px;
	width:20px;
	height:20px;
	display:block;
	color:#ffffff;
	line-height:20px;
	font-size:16px;
	text-align:center;
	z-index:5;	
}

.main-menu .navbar-collapse > ul > li > ul > li:last-child{
	border:none;	
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	position:absolute;
	right:10px;
	top:6px;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	background:url(../images/icons/submenu-icon.png) center center no-repeat;
	background-size:20px;
	cursor:pointer;
	z-index:5;
	display:none;
	border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
}

.main-menu .navbar-collapse > ul > li > ul > li > a {
    display: block;
    line-height: 24px;
    font-size: 14px;
	color:#000000;
	padding:7px 15px;
	background:#dcdadb;
	transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
}
 
.main-menu .navbar-collapse > ul > li > ul > li:hover > a {
	
        color:green ;
	
                
}

.main-menu .navbar-collapse > ul > li > ul > li > ul{
    position: absolute;
    display: block;
    width: 210px;
    top: -1px;
    left: 120%;
    opacity: 0;
    visibility: hidden;
    background: #dcdadb;
	border:1px solid rgba(255,255,255,0.50);
	border-radius:0px 5px 5px 5px;
	-webkit-border-radius:0px 5px 5px 5px;
	-ms-border-radius:0px 5px 5px 5px;
	-moz-border-radius:0px 5px 5px 5px;
	-o-border-radius:0px 5px 5px 5px;
}

.main-menu .navbar-collapse > ul > li > ul > li:hover > ul{
	opacity: 1;
	left:100%;
    visibility: visible;
    transition:all 400ms ease 100ms;
	-moz-transition:all 400ms ease 100ms;
	-webkit-transition:all 400ms ease 100ms;
	-ms-transition:all 400ms ease 100ms;
	-o-transition:all 400ms ease 100ms;
}

.main-menu .navbar-collapse > ul > li > ul > li > ul > li{
	position:relative;
	display:block;
	border-bottom:1px solid #5dbf4e;
}

.main-menu .navbar-collapse > ul > li > ul > li > ul > li:last-child{
	border:none;	
}

.main-menu .navbar-collapse > ul > li > ul > li > ul > li > a {
    display: block;
    line-height: 24px;
    font-size: 14px;
	color:#000000;
	padding:7px 15px;
	background:#dcdadb;
	transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
}
 
.main-menu .navbar-collapse > ul > li > ul > li > ul > li:hover > a {
	background:rgba(76, 175, 80, 0.81);
}

.header-lower .social-links{
	position:relative;
	padding-top:3px;
	text-align:right !important;
        
}

.header-lower .social-links a{
	position:relative;
	display:inline-block;
	width:36px;
	height:32px;
	text-align:center;
	background:#5AB05C;
	color:#ffffff;
	font-size:16px;
	line-height:32px;
	margin:9px 2px 0px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	transition:all 500ms ease-out;
	-webkit-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;	
}
.hiddena{display:none!important}
.header-lower .social-links .twitter{
    width: 110px;
    background:#03A9F4;
    /*font-family: "Open Sans", Arial, Helvetica, sans-serif !important;*/
    font-family: Open Sans ;
     margin-right:   15px;
} 
.header-lower .social-links .twitter:hover{
    background:rgb(111, 195, 232);
} 


.header-lower .social-links a:hover{
	background:#1A934B;	
}
/*.header-lower .social-links .facebook{
    background:#46629E;
} 
.header-lower .social-links .facebook:hover{
    background:#3A548C;
} 
.header-lower .social-links .twitter{
    background:#03A9F4;
} 
.header-lower .social-links .twitter:hover{
    background:rgb(111, 195, 232);
} 
.header-lower .social-links .instagram{
    background:#B48C73;
} 
.header-lower .social-links .instagram:hover{
    background:#9E7154;
} 
.header-lower .social-links .google{
    background:#F44336;
} 
.header-lower .social-links .google:hover{
    background:rgba(244, 67, 54, 0.56);
} 
.header-lower .social-links .youtube{
    background:#E52C27;
} 
.header-lower .social-links .youtube:hover{
    background:#262626;
} */

/***

====================================================================
	UPDATE-CONTANT  UPDATE-CONTANT  UPDATE-CONTANT
====================================================================

***/
.main-scroller{
	position:relative;
	padding:1px 0px 2px;
	background:#ffffff;
}
.Updatescroller{
    font-family: 'oswald-light';
    width: 100%;
    float: left;
    border-left: 1px solid rgba(255,255,255,.5);
    background: rgba(115, 99, 87, 0.9);
   
}
.updatelavel{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    float: left;
    width: 157px;
    font-family: time new roman !important;
    letter-spacing: 2px;
    background: url('../images/icons/update1.png');
    background-repeat: no-repeat;
    height: 40px;
    padding-left: 30px;
    padding-top: 4px;
    font-weight: bold;
}
.updateallcontant{
   float: left; 
   height: 0px;
    
}
.updatecontent{
    float: left;
    color: rgba(255,255,255,.9);
    font-size: 14px;
    margin-right: 20px;
    width: 500px;}
.simply-scroll .simply-scroll-clip{
    width: 85%;
    height: 40px;
}
.simply-scroll .simply-scroll-list{
    overflow: hidden;
    height: 40px !important;
    padding-top: 5px !important;
    padding-left: 10px;
}
.updatecontent a{
    color: rgba(255,255,255,.9);
    text-decoration: none;
    font-family: 'Arial Narrow', arial;
    font-size: 15px;}
.updatecontent a:hover{
    color: #FFEB3B ;
    
}
.Updatescrollerbottom{
    background: rgba(0,0,0,.5);
    float: left;
    width: 100%;
    height: 10px;
}
/***

====================================================================
 Wow-Main-Slider    Wow-Main-Slider     Wow-Main-Slider 
====================================================================

***/
.wow-main-slider{
	position:relative;
	padding:2px 0px 10px;
	background:#ffffff;
}

.wow-slider-box{
float: left;
margin-left: 15px;
border: 5px solid  rgba(221, 221, 221, 0.31);;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important ;

}
.vert{
    width: 100% !important;
    height: 327px !important;
    margin-bottom:1em !important;
}
.vert .simply-scroll-clip{
    width: 100% !important;
    height: 100% !important;
}

.notice-panel{
    float: left;
    max-width:30.380%;
    margin-left: 15px;
}
.panel-us{
    margin-bottom: 0px;
    border-left: 5px solid rgba(221, 221, 221, 0.31);
    border-right: 5px solid rgba(221, 221, 221, 0.31);
    border-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important ;
    
}
.panel-heading-us{
    padding: 0px 0px;
    text-align: center;
    background:rgba(221, 221, 221, 0.31);
    
}
.panel-heading-use{
    
        border-bottom: 2px solid transparent;
        position:relative;
	float:left;
        width: 100%;
	text-transform:uppercase;
        text-align: center;
        text-shadow: 1px 1px #ffffff ;
        padding: 10px 10px;
        color: #007C00;
	cursor:pointer;
	background:rgba(221, 221, 221, 0.31);
        font-size: 24px;
    
}
.panel-footer-us{
    padding: 4px 0px;
    background-color: rgba(221, 221, 221, 0.31) !important;
    border-top: 1px solid transparent;
}
.panel-contant{
    width: 100%;
}
.allnotice{
   float: left; 
   height: 0px;
}
.notice-contant{
    float: left;
    width: 100%;
    border-bottom:1px dotted #555;
    padding: 10px 0px;
     

}
.calander-small{
    float: left;
    width: 20%;
    margin-top: 5px;
    padding: 0px 5px;
    
}
.calander-small .month1{
    display: block;
    line-height:22px;
    font-weight:600;
    text-align: center;
    float: left;
    width: 100%;
    background-color: #1A934B;
    
}
.calander-small .date1{
    
    font-size: 16px; 
    display: block;
    line-height:23px;
    font-weight:700;
    text-align: center;
    float: left;
    width: 100%; 
    background-color: #d3d3d7;
}
.notice-item{
    padding:0px 5px;
    margin:0px;
    float: left;
    width: 79%;
}
.notice-item h5 a{
    line-height:1.6em;
    color:#292929;
    font-size: 16px;
    font-weight:400;
    
}
.notice-item h5 a:hover{
    color:#a0ce4e;
    
    
}

/*** 

====================================================================
	Why Us style color:#2e9df7; color:#a0ce4e;
====================================================================

***/


.gallery{
	position:relative;
	padding:1px 0px 1px;
	background:#ffffff;
}
.why-us{
	position:relative;
	padding:5px 0px 10px;
	background:#ffffff;
}

.why-us .title-box{
	position:relative;
	padding:0px 0px 0px 24px;
	border-left:3px solid #1A934B;
	margin-bottom:15px;
}

.why-us .title-box h3{
	font-size:28px;
	line-height:1.3em;	
}
.why-us .title-box h3:hover{
	
	color:#336699;	
}

.why-us .title-box h4{
	font-size:18px;
	line-height:1.6em;
                   color:#1A934B;
}

.why-us .text-content{
	position:relative;
	margin-bottom:20px;
}


.why-us .text-content .text{
	font-size:14px;
	padding-left:0px;	
}

.why-us .box{
	position:relative;
	margin-bottom:25px;	
}

.why-us .box .tab-link {
	position:relative;
	display:block;
	border:1px solid #cccccc;
	padding:16px 20px 16px 90px;
	font-size:14px;
	color:#292929;
}

.why-us .box .tab-link .arrow{
	position:absolute;
	right:0px;
	bottom:0px;
	width:30px;
	height:30px;
	text-align:center;
	color:#ffffff;
	font-size:16px;
	line-height:30px;
	background:rgb(54, 64, 75);	
}

.why-us .box .tab-link:hover .arrow{
	background:#999999;	
}

.why-us .box .tab-link *{
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;	
}

.why-us .box .tab-link.active-btn,
.why-us .box .tab-link:hover{
	background:#36404b;
	color:#ffffff;
	border-color:#36404b;	
}

.why-us .box .tab-link .icon{
	position:absolute;
	left:20px;
	top:28px;
	width:70px;
	height:70px;
	color:#a0ce4e;
	font-size:42px;	
}

.why-us .box .tab-link.active-btn .icon,
.why-us .box .tab-link:hover .icon{
	color:#ffffff;	
}

.why-us .box .tab-link h4{
	font-size:16px;
	margin-bottom:0px;
}

.why-us .box .tab-link p{
	font-size:14px;
	color:#a7a7a7;
	margin-bottom:0px;
}

.why-us .box .tab-link.active-btn p,
.why-us .box .tab-link:hover p{
	color:#ffffff;	
}

/*** 

====================================================================
	Main Slider style
====================================================================

***/

.main-slider{
	position:relative;
	color:#ffffff;
	font-size:15px;
}

.main-slider .grey-title{
	position:relative;
	padding:10px 20px;
	background:rgba(54,64,75,0.85);
	color:#ffffff;	
}

.main-slider .white-title{
	position:relative;
	padding:10px 20px;
	background:rgba(255,255,255,0.85);
	color:#a0ce4e;	
}

.main-slider h2{
	font-size:48px;
	line-height:1.2em;
	font-weight:300;
}

.main-slider .tp-bullets{
	display:none;	
}


.main-slider:after,
.page-banner:after,
.main-slider:before,
.page-banner:before{
	content:'';
	position:absolute;
	display:block;
	width:50%;
	height:5px;
	bottom:-5px;
	z-index:1;
}

.main-slider:after,
.page-banner:after{
	left:50%;
	background:#4CAF50;
}

.main-slider:before,
.page-banner:before{
	left:0%;
	background:#5DBF4E;
}

flaticon-transport100


/*** 

====================================================================
	Featured Posts
====================================================================

***/

.featured-posts{
	position:relative;
	background:#ffffff;
	padding:30px 0px;
}

.column-view{
	position:relative;	
}

.column-view .column-box{
	position:relative;
	margin-bottom:30px;
}

.column-view .column-box .inner-box{
	position:relative;
	display:block;
	max-width:450px;
	margin:0 auto;
	border:1px solid #dddddd;
	transition:all 500ms ease-out 50ms;
	-webkit-transition:all 500ms ease-out 50ms;
	-ms-transition:all 500ms ease-out 50ms;
	-o-transition:all 500ms ease-out 50ms;
	-moz-transition:all 500ms ease-out 50ms;	
}

.column-view .column-box .inner-box:hover{
	border-color:#83C24C;
}

.column-view .column-box .image{
	position:relative;
	overflow:hidden;	
}

.column-view .column-box .image img{
	position:relative;
	display:block;
	width:100%;
	transition:all 500ms ease-out 50ms;
	-webkit-transition:all 500ms ease-out 50ms;
	-ms-transition:all 500ms ease-out 50ms;
	-o-transition:all 500ms ease-out 50ms;
	-moz-transition:all 500ms ease-out 50ms;
}






.column-view .column-box .post-content{
	position:relative;
	padding:15px 20px 20px;	
}

.column-view .column-box .post-content h3{
	font-size:18px;
	margin-bottom:15px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:500;	
}

.column-view .column-box .post-content h3 a{
	color:#2e9df7 ;	
}

.column-view .column-box .post-content h3 a:hover{
	color:#a0ce4e;	
}

.column-view .column-box .theme-btn{
	 text-align: center;
                    margin:0px 15px 15px 0px;	
}

.column-view .column-box .text-center .theme-btn{
	float:none;
	display:inline-block;
	margin:0px 5px 7px;	
}

.column-view .column-box .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	padding:30px 24px 10px;
	overflow:auto;
	color:#ffffff;
	z-index:3;
	background:#a0ce4e url(../images/icons/price-table-header.png) -50px -50px no-repeat;
	opacity:0;
	transition:opacity 500ms ease;
	-webkit-transition:opacity 500ms ease;
	-ms-transition:opacity 500ms ease;
	-o-transition:opacity 500ms ease;
	-moz-transition:opacity 500ms ease;
	
}

.column-view .column-box:hover .overlay-box{
	opacity:1;
	-ms-animation-name: flipInX;
	-moz-animation-name: flipInX;
	-op-animation-name: flipInX;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
	-ms-animation-duration: 800ms;
	-moz-animation-duration: 800ms;
	-op-animation-duration: 800ms;
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;		
}


.column-view .column-box .overlay-box .skew-lines{
	color:#ffffff;
	margin-bottom:20px;
	padding-left:50px;	
}

.column-view .column-box .overlay-box .text{
	position:relative;
	font-size:14px;
}

/*** 

====================================================================
	Featured Services
====================================================================

***/

.featured-services{
	position:relative;
	padding:20px  0px 20px;
	background:#fbfbfb;
}

.featured-services .column-box .inner-box{
	background:#ffffff;
	
}
/* islamic aid Home */
.ia_hometitle {font-size:27px;font-weight:300;text-align:center;line-height:35px}
.ia_hometitle strong {font-size:47px;font-weight:normal;color:#1A934B;line-height:55px;display:block}
.donateTitle {color:#1A934B;font-size: 24px;text-align:center;margin:35px 0 20px 0;font-weight:300;line-height: 30px;}

.featured-services .column-box .text-center .theme-btn{
	float:none;
	vertical-align:middle;
	margin:0px 7px 5px;	
}

.featured-services .column-box .text-center{
	text-align:left !important;
}


/*** 

====================================================================
	Featured Services
====================================================================

***/

.gallery-section{
	position:relative;
	padding:40px  0px 50px;
	background:#ffffff;
}

.gallery-section .slide-item{
	position:relative;
	overflow:hidden;
	margin-top:15px;
	border:1px solid #1A934B;		
}

.gallery-section .image-box img{
	position:relative;
	display:block;
	width:100%;
	height:auto;
}

.gallery-section .overlay{
	position:absolute;
	left:0px;
	top:-100%;
	width:100%;
	height:100%;
	background:url(../images/icons/icon-plus-2.png) center 40% no-repeat;
	background-color:rgba(0,0,0,1);
	opacity:0;
	z-index:2;
	transition:all 500ms ease;
	-webkit-all:opacity 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
}

.gallery-section .slide-item:hover .overlay{
	opacity:0.80;
	top:0px;
}

.gallery-section .item-caption{
	position:absolute;
	left:0px;
	bottom:-100%;
	width:100%;
	text-align:center;
	color:#ffffff;
	padding:10px 15px;
	background-color:rgba(0,0,0,0.50);
	font-size:14px;
	z-index:3;
	opacity:0;
	
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	border-top:2px solid #1A934B;
}

.gallery-section .slide-item:hover .item-caption{
	opacity:1;
	bottom:0px;
}

.gallery-section .item-caption p{
	position:relative;
	font-size:14px;
	margin:0px;
	color:#ffffff;	
}

.gallery-section .item-caption h4{
	font-size:14px;	
}

.gallery-section .owl-stage-outer{
	overflow:visible;	
}

/*** 

====================================================================
	Intro Section style
====================================================================

***/

.intro-section{
	position:relative;
	color:#1A934B;
	padding:20px 0px;
	background:#ffffff;
                  
}

.intro-section.theme-two{
	background:#E5ECE4;	
                   text-align: center;
                   
}

.intro-section.theme-two .dark-btn{
	background-color:#1A934B;
                  padding: 20px 20px;
                   color:#ffffff;
                   text-align: center;
                   font-size: 30px;
                   border-radius: 5px;
                   
                   
}

.intro-section.theme-two .dark-btn:hover{
	background:#5DBF4E;
	border-color:#ffffff;
	
}

.intro-section .border{
	position:relative;
	border:2px solid rgba(255,255,255,0.50);
	padding:30px 35px;
	background:#fb4e4e;
}

.intro-section.theme-two .border{
	background:#E5ECE4;
}

.intro-section h3{
	font-size:24px;
	text-transform:uppercase;
}

/*** 

====================================================================
	Tabs Section style
====================================================================

***/

.tabs-section{
	position:relative;
	padding:40px 0px 0px;
	background:#ffffff;
}

.tabs-box .buttons-side{
	position:relative;
	float:right !important;
	margin-bottom:30px;
}

.tabs-box .tab-buttons{
	position:relative;	
}

.tabs-box .tab-buttons li{
	position:relative;
	margin-bottom:20px;	
}

.tabs-box .tab-buttons .tab-btn {
	position:relative;
	display:block;
	border:1px solid #cccccc;
	padding:20px 20px 20px 90px;
	font-size:14px;
	color:#292929;
}

.tabs-box .tab-buttons .tab-btn *{
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;	
}

.tabs-box .tab-buttons .tab-btn.active-btn,
.tabs-box .tab-buttons .tab-btn:hover{
	
	color:#5DBF4E;
	border-color:#4abf4e;	
}

.tabs-box .tab-buttons .tab-btn .icon{
	position:absolute;
	left:20px;
	top:28px;
	width:70px;
	height:70px;
                   color:#13ab13;
	font-size:42px;	
}

.tabs-box .tab-buttons .tab-btn.active-btn .icon,
.tabs-box .tab-buttons .tab-btn:hover .icon{
    color:#84eaa1;	
}

.tabs-section .tab-buttons .tab-btn h4{
	font-size:16px;
	margin-bottom:0px;
}

.tabs-box .tab-buttons .tab-btn p{
	font-size:14px;
	color:#a7a7a7;
	margin-bottom:0px;
}

.tabs-box .tab-buttons .tab-btn.active-btn p,
.tabs-box .tab-buttons .tab-btn:hover p{
	color:#a7a7a7;	
}

.tabs-box .tabs-content{
	position:relative;
	float:left !important;
}

.tabs-box .tab-title{
	position:relative;
	margin-bottom:20px;	
}

.tabs-box .tab-title h2{
	font-size:36px;
	margin-bottom:10px;	
}

.tabs-box .tab-title h3{
	font-size:22px;
	color:#5DBF4E;
	margin-bottom:0px;	
}

.tabs-box .tab .text{
	position:relative;
        font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
	margin-bottom:30px;
	line-height:1.8em !important;
	color:#000000;
}

.tabs-box .tab .list{
	position:relative;
	margin-bottom:30px;
	line-height:1.5em;
}

.tabs-box .tab .list ul li{
	position:relative;
	line-height:30px;
	padding-left:30px;
	margin-bottom:15px;
}

.tabs-box .tab .list ul li:before{
	font-family: 'FontAwesome';
	content: "\f00c";
	position:absolute;
	left:0px;
	top:0px;
	width:20px;
	height:30px;
	line-height:30px;
	padding-right:15px;
	font-size:18px;
	color:#5AB05C;	
}

.tabs-box .tab{
	position:relative;
	display:none;
	left:20px;
	transition:all 500ms ease-out;
	-webkit-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;	
}

.tabs-box .tab.active-tab{
	display:block;
	left:0px;	
}

/*** 

====================================================================
	Testimonials Section style
====================================================================

***/

.testimonials-section{
	position:relative;
	padding:30px 0px 0px;
	background:url(../images/background/texture-map.png) center center no-repeat;
	background-color:rgba(152, 156, 147, 0.13);
}

.testimonials-section .sec-title {
	border:none;
	color:#000000;
}

.testimonials-section .sec-title h3{
	display:inline-block;
	padding:0px 0px 10px;
	border-bottom:2px solid #a0ce4e;	
}

.testimonials-section.theme-two .sec-title h3{
	border-bottom:2px solid #ffffff;	
}

.testimonials-section.theme-two{
	background-color:#a0ce4e;	
}

.testimonials-section .testimonials-slider{
	position:relative;
}

.testimonials-section .testimonials-slider .slide-item{
	position:relative;
	margin:10px 0px 0px 0px;
	border:1px solid #a0ce4e;
	background:#ffffff;
	text-align:center;
}

.testimonials-section .testimonials-slider .image-box{
	position:relative;
	width:80px;
	height:80px;
	margin:-40px auto 0px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
}

.testimonials-section .testimonials-slider .image-box img{
	position:relative;
	width:80px;
	height:80px;
	display:block;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
}

.testimonials-section .slide-item h3{
	position:relative;
	text-align:center;
	vertical-align:middle;
	
        
	color:#000000;
	font-weight:600;
	margin:0px 5px 20px 0px;	
}
.testimonials-section .slide-item h3 a{
	font-size:20px;
        font-weight:500;
        padding: 10px 10px;
        background-color: #d7ee8b;
        color:#ffffff;
        border: 1px solid #a0ce4e;
	
}
.testimonials-section .slide-item h3 a:hover{
	
        background-color: #d7ee8b;
        color:#cccccc;
	
}

.testimonials-section .rating{
	position:relative;
	display:inline-block;
	vertical-align:middle;	
}

.testimonials-section .rating .star{
	position:relative;
	display:inline-block;
	width:20px;
	height:16px;
	background:url(../images/icons/star-icon.png) center center no-repeat;	
}

.testimonials-section .slide-text{
	position:relative;
	font-size:14px;
	color:#565656;
	font-style:italic;
	line-height:2em;
	padding:20px;	
}

.testimonials-section .column-carousel.three-column .owl-nav{
	display:none !important;	
}

.testimonials-section .column-carousel.three-column .owl-controls{
	position:relative;
	text-align:center;
	padding:2px 0px;
	top:0px;	
}

.testimonials-section .column-carousel.three-column .owl-dots{
	display:block !important;
}

.testimonials-section .column-carousel.three-column .owl-dot span{
	background:#909090;
	
}

.testimonials-section .column-carousel.three-column .owl-dot span:hover,
.testimonials-section .column-carousel.three-column .owl-dot.active span{
	background:#a0ce4e;
	
}

.testimonials-section.theme-two .column-carousel.three-column .owl-dot span{
	background:#fbf948;
	
}

.testimonials-section.theme-two .column-carousel.three-column .owl-dot span:hover,
.testimonials-section.theme-two .column-carousel.three-column .owl-dot.active span{
	background:#ffffff;
	
}

/*** 

====================================================================
	Contact Options style
====================================================================

***/

.contact-options{
	position:relative;
	padding:0px;
	background-color:#ffffff;
	border-bottom:5px solid #5AB05C;
}

.contact-options .info-box{
	position:relative;
	float:right;
	padding:7px 20px;
	background:#1A934B;
	color:#ffffff;	
}

.contact-options .info-box li{
	display:inline-block;
	min-width:200px;
	padding-right:30px;
	font-size:14px;	
}

.contact-options .info-box li a{
	color:#ffffff;	
}

.contact-options .info-box li a:hover{
	opacity:0.80;	
}

.contact-options .info-box li .fa{
	font-size:16px;
	padding-right:10px;
}

/*** 

====================================================================
	Our Team style
====================================================================

***/

.team-section{
	position:relative;
	padding:50px 0px 30px;
	background:#ffffff;
}

.column-carousel.four-column{
	margin-top:-15px;	
}

.column-carousel.four-column .column-box{
	padding-top:15px;
	padding-bottom:15px;	
}

.team-box{
	margin-bottom:0px !important;	
}

.team-box .social-links{
	position:absolute;
	right:0px;
	bottom:0px;
	padding-right:42px;
	width:100%;	
}

.team-box .social-links .plus-btn{
	position:absolute;
	right:0px;
	bottom:0px;
	width:42px;
	height:42px;
	background:#a0ce4e url(../images/icons/icon-plus.png) center center no-repeat;
	cursor:pointer;
	z-index:3;
}

.team-box .social-links .links{
	position:absolute;
	right:-220px;
	bottom:0px;
	transition:all 1000ms ease;
	-webkit-transition:all 1000ms ease;
	-ms-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	-moz-transition:all 1000ms ease;
	z-index:1;
}

.team-box .social-links:hover .links{
	right:46px;	
}

.team-box .social-links li{
	position:relative;
	display:inline-block;
	margin:0px;	
}

.team-box .social-links li a{
	position:relative;
	display:block;
	width:42px;
	height:42px;
	padding:10px;
	text-align:center;
	font-size:16px;
	line-height:20px;
	color:#ffffff;
	background:#a0ce4e;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;	
}

.team-box .social-links li a:hover{
	background:#36404b;	
}

.team-box h3{
	text-transform:capitalize !important;
	margin-bottom:5px !important;
}

.team-box .occupation{
	font-size:16px;
	color:#a0ce4e;
	text-transform:capitalize;
	margin-bottom:5px;	
}

.column-carousel .owl-dots{
	display:none !important;	
}

.column-carousel .owl-controls{
	position:absolute;
	right:0px;
	top:-60px;
}

.column-carousel.two-column .owl-controls{
	top:-75px;
}

.column-carousel .owl-controls .owl-next{
	position:absolute;
	right:0px;
	top:-24px;
	width:48px;
	height:48px;
	text-indent:100px;
	overflow:hidden;
	border:1px solid #dddddd;
	margin:0px !important;
	background:#ffffff url(../images/icons/arrow-next.png) center center no-repeat !important;
	border-radius:0px !important;
	-webkit-border-radius:0px !important;
	-ms-border-radius:0px !important;
	-o-border-radius:0px !important;
	-moz-border-radius:0px !important;
}

.column-carousel .owl-controls .owl-prev{
	position:absolute;
	right:58px;
	top:-24px;
	width:48px;
	height:48px;
	text-indent:100px;
	overflow:hidden;
	border:1px solid #dddddd;
	margin:0px !important;
	background:#ffffff url(../images/icons/arrow-prev.png) center center no-repeat !important;
	border-radius:0px !important;
	-webkit-border-radius:0px !important;
	-ms-border-radius:0px !important;
	-o-border-radius:0px !important;
	-moz-border-radius:0px !important;
}

.column-carousel .owl-controls .owl-next:hover,
.column-carousel .owl-controls .owl-prev:hover{
	border-color:#1A934B;	
}

/*** 

====================================================================
	Blog Section style
====================================================================

***/

.blog-section{
	position:relative;
	padding:50px 0px 20px;
	background:#ffffff;
}

.blog-section .column-box .inner-box{
	max-width:580px !important;	
}

.blog-section .column-box .inner-box{
	padding-left:50%;
	min-height:260px;	
}

.blog-section .column-box .post-content{
	padding:20px;	
}

.blog-section .column-box .inner-box .image{
	position:absolute;
	left:0px;
	top:0px;
	width:50%;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;	
}

.blog-section .column-box .inner-box .image img{
	display:none;	
}

.blog-section .column-box .post-title{
	text-transform:capitalize !important;
}

.blog-section .column-box .date{
	position:relative;
	margin-bottom:10px;
	font-size:14px;
	color:#a0ce4e;
}

.blog-section .column-box .text{
	position:relative;
	margin-bottom:20px;
	font-size:16px;
	color:#565656;
}

.blog-section .column-box .theme-btn{
	float:none;
	margin:0px;	
}

/*** 

====================================================================
	Sponsors Style
====================================================================

***/

.sponsors{
	position:relative;
	text-align:center;
	background:#ffffff;
	padding:22px 0px;
	border-top:1px solid #d0d0d0;	
}

.sponsors .auto-container{
	padding-left:30px;
	padding-right:30px;	
}
	
.sponsors .slider{
	position:static;
}

.sponsors .slider .owl-stage-outer{
	z-index:10;		
}

.sponsors li img{
	position:relative;
	display:inline-block !important;
	width:auto !important;
	max-width:100% !important;
	opacity:0.80;
	transition:all 300ms ease-in;
	-webkit-transition:all 300ms ease-in;
	-ms-transition:all 300ms ease-in;
	-o-transition:all 300ms ease-in;
	-moz-transition:all 300ms ease-in;	
}

.sponsors li img:hover{
	opacity:1;	
}

.sponsors .owl-dots{
	display:none !important;	
}

.sponsors .owl-controls{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:5;
	margin:0px !important;
	opacity:0.40;	
}

.sponsors:hover .owl-controls{
	opacity:1;	
}

.sponsors .owl-controls .owl-prev{
	position:absolute;
	left:20px;
	top:50px;
	margin:0px;
	width:50px;
	height:50px;
	border:1px solid #3d3d3d;
	font-size:0px;
	overflow:hidden;
	text-indent:100px;
	background:url(../images/icons/arrow-prev.png) center center no-repeat !important;
}

.sponsors .owl-controls .owl-next{
	position:absolute;
	right:20px;
	top:50px;
	margin:0px;
	width:50px;
	height:50px;
	border:1px solid #3d3d3d;
	font-size:0px;
	overflow:hidden;
	text-indent:100px;
	background:url(../images/icons/arrow-next.png) center center no-repeat !important;
}

/*** 

====================================================================
	Main Footer style
====================================================================

***/

.main-footer{
	position:relative;
	background:rgba(96, 125, 139, 0.11);
}

.main-footer .footer-upper{
	position:relative;
	padding:40px 0px 10px;	
}

.main-footer .footer-upper .col-md-3{
	position:relative;
	margin-bottom:25px;	
}

.main-footer .footer-upper .footer-widget{
	position:relative;
	max-width:600px;
		
}

.main-footer .footer-upper h3{
    position: relative;
    font-size: 18px;
    margin-bottom: 25px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
}

.main-footer .footer-upper .text{
    position: relative;
    font-size: 14px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
    margin-bottom: 10px;
    color: #000000;
    line-height: 25px;
}

.main-footer .footer-upper .info{
	position:relative;
	font-size:14px;
}

.main-footer .footer-upper .info li{
	position:relative;
	margin-bottom:5px;
	line-height:1.7em;
	color:#ffffff;	
}

.main-footer .footer-upper .info li strong{
	position:relative;
	padding-right:10px;
	font-weight:500;
	color:#000000;	
}

.main-footer .footer-upper a{
                    color:#BD1515;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;	
}

.main-footer .footer-upper a:hover{
	color:green !important;	
}

.main-footer .footer-upper .links{
	position:relative;
	font-size:16px;
}

.main-footer .footer-upper .links li{
	position:relative;
	margin-bottom:10px;
	line-height:30px;
	overflow:hidden;	
}

.main-footer .footer-upper .links li a{
	position:relative;
	display:block;
	color:#000000;
	font-size: 14px;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;	
}

.main-footer .footer-upper .links li a:hover{
	color:green !important;
                    text-decoration: underline;
}

.main-footer .footer-upper .links li a i {
	color: green;
	margin-right: 7px;
	font-size: 17px;
}
.main-footer .footer-upper .newsletter-widget .form{
	position:relative;
	padding-top:15px;
	margin-bottom:40px;
}

.main-footer .footer-upper .newsletter-widget .form-group{
	position:relative;
	display:block;
	margin:0px;
}

.main-footer .footer-upper .newsletter-widget input,
.main-footer .footer-upper .newsletter-widget textarea {
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:8px 40px 8px 15px;
	color:#292929;
	font-size:15px;
	background:#ffffff;
	border:1px solid #ddd;
	transition: all .3s ease;
}
.main-footer .footer-upper .newsletter-widget input:focus,
.main-footer .footer-upper .newsletter-widget textarea:focus {
	border:1px solid greenyellow;	

}

.main-footer .footer-upper .newsletter-widget button{

	line-height:24px;
	padding:8px 5px;
	text-align:center;
	font-size:14px;
	color:#ffffff;
	background:#1A934B;
	border: 1px solid green;
	float: right;
	padding: 5px 10px;
	transition: all .3s;
}
.main-footer .footer-upper .newsletter-widget button:hover {
	color: #1A934B;
}
.main-footer .footer-upper .newsletter-widget button:before{
	background:#fff;	
}

.main-footer .footer-bottom{
	position:relative;
	padding:5px 0px;
	font-size:14px;
	line-height:20px;
	background:#1A934B;
	color:#ffffff;	
}

.main-footer .footer-bottom .copyright{
	padding:12px 0px;	
}

.main-footer .social-links{
	position:relative;
	text-align:right;
	padding-bottom:6px;	
}

.main-footer .social-links a{
	position:relative;
	display:inline-block;
	width:36px;
	height:32px;
	text-align:center;
	background:#5AB05C;
	color:#ffffff;
	font-size:16px;
	line-height:32px;
	margin:9px 2px 0px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	transition:all 500ms ease-out;
	-webkit-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;	
}
.main-footer .social-links .twitter{
    width: 110px;
    background:#03A9F4;
    /*font-family: "Open Sans", Arial, Helvetica, sans-serif !important;*/
    font-family: Open Sans ;
     margin-right:   15px;
} 
.main-footer .social-links .twitter:hover{
    background:rgb(111, 195, 232);
} 
.main-footer .social-links a:hover{
	background:#1A934B;	
}


/*** 

====================================================================
	Scroll To Top style
====================================================================

***/

.scroll-to-top{
	position:fixed;
	bottom:0px;
	right:0px;
	width:48px;
	height:48px;
	color:#ffffff;
                   background:#cccccc url(../images/icons/arrow-up.png) center center no-repeat;
	font-size:20px;
	line-height:48px;
	text-align:center;
	z-index:100;
	cursor:pointer;
	display:none;	
}

.scroll-to-top:hover{
	background-color:#5AB05C;
	color:#ffffff;
}

/*** 

====================================================================
	Default Section Style
====================================================================

***/

.default-section{
	position:relative;
	width:100%;
	padding:50px 0px 30px;
	background:#ffffff;
}

.default-content{
	position:relative;
	margin-bottom:40px;	
}

.default-content h2{
	font-size:26px;
	font-weight:400;
	font-family:'Montserrat',sans-serif;
	margin-bottom:10px;
	text-transform:uppercase;	
}

.default-content h3{
	font-size:22px;
	font-weight:300;
	margin-bottom:20px;
	color:#a0ce4e;	
}

.default-content .text{
	position:relative;
	font-size:16px;
	margin-bottom:10px;
	color:#565656;
}

.default-section .column-box .text-center .theme-btn{
	margin:0px !important;
	float:none !important;
}

/*** 

====================================================================
	Gallery Tabs Style
====================================================================

***/

.gallery-tabs{
	position:relative;
	width:100%;
	padding:0px 0px;
	background:#ffffff;
}

.gallery-tabs .tabs-two{
	position:static;
	min-height:540px;	
}

.gallery-tabs .tabs-two .buttons-side{
	position:relative;
	float:right !important;
	margin-bottom:30px;
}

.gallery-tabs .tabs-two .tab-buttons{
	position:relative;	
}

.gallery-tabs .tabs-two .tab-buttons li{
	position:relative;
	margin-bottom:24px;	
}

.gallery-tabs .tabs-two .tab-buttons .tab-btn{
	position:relative;
	display:block;
	border:1px solid #cccccc;
	padding:20px 20px 20px 90px;
	font-size:14px;
	color:#292929;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.gallery-tabs .tabs-two .tab-buttons .tab-btn *{
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;	
}

.gallery-tabs .tabs-two .tab-buttons .tab-btn.active-btn,
.gallery-tabs .tabs-two .tab-buttons .tab-btn:hover{
	background:#36404b;
	color:#ffffff;
	border-color:#36404b;	
}

.gallery-tabs .tabs-two .tab-buttons .tab-btn .icon{
	position:absolute;
	left:20px;
	top:28px;
	width:70px;
	height:70px;
	color:#a0ce4e;
	font-size:42px;	
}

.gallery-tabs .tabs-two .tab-buttons .tab-btn.active-btn .icon,
.gallery-tabs .tabs-two .tab-buttons .tab-btn:hover .icon{
	color:#ffffff;	
}

.gallery-tabs .tabs-two .tab-buttons .tab-btn h4{
	font-size:16px;
	margin-bottom:0px;
}

.gallery-tabs .tabs-two .tab-buttons .tab-btn p{
	font-size:14px;
	color:#a7a7a7;
	margin-bottom:0px;
}

.gallery-tabs .tabs-two .tab-buttons .tab-btn.active-btn p,
.gallery-tabs .tabs-two .tab-buttons .tab-btn:hover p{
	color:#ffffff;	
}

.gallery-tabs .tabs-two .buttons-side{
	z-index:2;	
}

.gallery-tabs .tabs-two .tabs-content{
	position:absolute;
	left:0px;
	top:0px;
	padding:0px 80px 0px 0px;
	height:540px;
}

.gallery-tabs .tabs-two .tab{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:540px;
	padding-right:80px;
	left:20px;
	opacity:0;
	visibility:hidden;
	z-index:-1;
	transition:all 500ms ease-out;
	-webkit-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;		
}

.gallery-tabs .tabs-two .tab.active-tab{
	left:0px;
	opacity:1;
	visibility:visible;
	z-index:3;
}

.gallery-tabs .tabs-two .slide-item{
	position:relative;
	height:530px;
	width:100%;
	background-size:cover;
	background-position:center top;
	background-repeat:no-repeat;	
}

.gallery-tabs .tabs-two .slide-item .lightbox-image{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:3;
	background:#a0ce4e;
	opacity:0;
	transition:all 500ms ease-in;
	-webkit-transition:all 500ms ease-in;
	-ms-transition:all 500ms ease-in;
	-o-transition:all 500ms ease-in;
	-moz-transition:all 500ms ease-in;
}

.gallery-tabs .tabs-two .slide-item .lightbox-image:hover{
	opacity:0.25;
}
.inline1{
    overflow: auto;
    width: 500px;
    height: 400px;
    background-color: #FDFDFD;
    
    
}
.gallery-tabs .tabs-two .bx-controls{
	position:absolute;
	right:92px !important;
	bottom:62px !important;
	z-index:5;	
}

.gallery-tabs .tabs-two .bx-controls .bx-next{
	position:absolute;
	right:0px;
	top:0px;
	width:42px;
	height:42px;
	text-indent:100px;
	overflow:hidden;
	border:1px solid #292929;
	margin:0px !important;
	background:url(../images/icons/arrow-next.png) center center no-repeat !important;
	background-color:rgba(255,255,255,0.75) !important;
	border-radius:0px !important;
	-webkit-border-radius:0px !important;
	-ms-border-radius:0px !important;
	-o-border-radius:0px !important;
	-moz-border-radius:0px !important;
}

.gallery-tabs .tabs-two .bx-controls .bx-prev{
	position:absolute;
	right:52px;
	top:0px;
	width:42px;
	height:42px;
	text-indent:100px;
	overflow:hidden;
	border:1px solid #292929;
	margin:0px !important;
	background:#ffffff url(../images/icons/arrow-prev.png) center center no-repeat !important;
	background-color:rgba(255,255,255,0.75) !important;
	border-radius:0px !important;
	-webkit-border-radius:0px !important;
	-ms-border-radius:0px !important;
	-o-border-radius:0px !important;
	-moz-border-radius:0px !important;
}

.gallery-tabs .tabs-two .bx-controls .bx-next:hover,
.gallery-tabs .tabs-two .bx-controls .bx-prev:hover{
	border-color:#a0ce4e;
	background-color:rgba(255,255,255,1) !important;	
}


/*** 

====================================================================
	Services Section Style
====================================================================

***/

.services-section{
	position:relative;
	background:#ffffff;
	padding:40px 0px 0px;
}

.services-section .post{
	position:relative;
	margin-bottom:50px;	
}

.services-section .post .post-title{
	position:relative;
	font-size:18px;
	margin-bottom:20px;
	font-weight:600;
	padding:15px 0px 0px 70px;	
}

.services-section .post .icon{
	position:absolute;
	left:0px;
	top:8px;
	font-size:50px;
	color:#a0ce4e;
	line-height:32px;
	width:70px;	
}

.services-section.theme-two .post .icon{
	color:#36404b;	
}

.services-section .post .inner{
	position:relative;
	max-width:540px;
	margin:0 auto;
}

.services-section .post .text{
	position:relative;
	font-size:15px;
	color:#565656;
}

/*** 

====================================================================
	Price Plans Style
====================================================================

***/

.price-plans{
	position:relative;
	padding:30px 0px 10px;	
}

.price-plans .table-column{
	position:relative;
	margin-bottom:30px;
	padding:0px 15px;
	text-align:center;
}

.price-plans .table-inner{
	position:relative;
	border:1px solid #d0d0d0;
	background:#ffffff;
	padding:0px;
	width:100%;
	margin:0 auto;
}

.price-plans .table-column .table-header{
	position:relative;
	margin-left:-1px;
	margin-right:-1px;
	padding:30px 10px;
	letter-spacing:2px;
	background:url(../images/icons/price-table-header.png) right center no-repeat;
	background-color:#a0ce4e;
	transition:all 700ms ease-in-out;
	-webkit-transition:all 700ms ease-in-out;
	-ms-transition:all 700ms ease-in-out;
	-o-transition:all 700ms ease-in-out;
	-moz-transition:all 700ms ease-in-out;		
}

.price-plans .table-column .table-inner:hover .table-header{
	background-position:left center;
	background-color:#36404b;	
}

.price-plans .table-column .table-header h3{
	font-size:18px;
	line-height:1.8em;
	text-transform:uppercase;
	color:#ffffff;
}

.price-plans .price-column{
	position:relative;
	padding:25px;
}

.price-plans .price .amount{
	position:relative;
	display:block;
	font-size:70px;
	font-weight:700;
	text-align:center;
	line-height:1.2em;
	margin-bottom:0px;
}

.price-plans .price .amount sup{
	font-size:50px;
	padding-right:5px;	
}

.price-plans .price p{
	color:#8f8f8f;
	font-size:14px;
	margin-bottom:0px;
	text-transform:uppercase;
}

.price-plans .list{
	position:relative;
	padding:0px 0px 30px;
	border-top:1px dashed #d0d0d0;
}

.price-plans .list h3{
	font-size:18px;
	margin-bottom:10px;	
}

.price-plans .list li{
	position:relative;
	padding:12px 0px;
	line-height:30px;
	color:#7f7f7f;
	border-bottom:1px dashed #d0d0d0;
}

.price-plans .recommended .table-inner .price p,
.price-plans .recommended .table-inner .list li,
.price-plans .table-inner:hover .price p,
.price-plans .table-inner:hover .list li,
.price-plans .recommended .table-inner .amount,
.price-plans .recommended .table-inner .list h3{
	color:#36404b;	
}

.price-plans .list li:before{
	font-family: 'FontAwesome';
	content:'\f00c';
	position:relative;
	display:inline-block;
	left:0px;
	top:0px;
	width:25px;
	height:20px;
	text-align:left;
	line-height:30px;
	font-size:16px;
	color:#a0ce4e;	
}

.price-plans .recommended .list li:before,
.price-plans .table-inner:hover .list li:before{
	color:#36404b;	
}

.price-plans .read-more{
	position:relative;
	display:inline-block;
	width:auto;
	font-size:14px;
	text-transform:uppercase;
	line-height:24px;
	padding:7px 20px;
	margin-bottom:30px;
	color:#ffffff;
	background:#a0ce4e;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.price-plans .read-more .fa{
	position:relative;
	padding-right:15px;
	top:0px;
	font-size:18px;	
}

.price-plans .read-more:before{
	background-color:#36404b;	
}

.price-plans .recommended .read-more,
.price-plans .table-inner:hover .read-more{
	background:#36404b;
}

/*** 

====================================================================
	Price Plans Section style
====================================================================

***/

.vertical-gallery{
	position:relative;
	background:#ffffff;
	padding:0px 0px;	
}

.ms-tabs-vertical-template .ms-nav-next {
	position:absolute;
	display:block;
	right:12px;
	bottom:12px;
	margin:0px !important;
	width:42px;
	height:42px;
	text-indent:100px;
	overflow:hidden;
	border:1px solid #292929;
	background:url(../images/icons/arrow-next.png) center center no-repeat !important;
	background-color:rgba(255,255,255,0.75) !important;
	border-radius:0px !important;
	-webkit-border-radius:0px !important;
	-ms-border-radius:0px !important;
	-o-border-radius:0px !important;
	-moz-border-radius:0px !important;
	z-index:5;
	cursor:pointer;
	opacity:1 !important;
}

.ms-tabs-vertical-template .ms-nav-prev{
	position:absolute;
	display:block;
	right:62px;
	bottom:12px;
	margin:0px !important;
	width:42px;
	height:42px;
	text-indent:100px;
	overflow:hidden;
	border:1px solid #292929;
	background:#ffffff url(../images/icons/arrow-prev.png) center center no-repeat !important;
	background-color:rgba(255,255,255,0.75) !important;
	border-radius:0px !important;
	-webkit-border-radius:0px !important;
	-ms-border-radius:0px !important;
	-o-border-radius:0px !important;
	-moz-border-radius:0px !important;
	z-index:5;
	cursor:pointer;
	opacity:1 !important;
}

.ms-tabs-vertical-template .ms-nav-next:hover,
.ms-tabs-vertical-template .ms-nav-prev:hover{
	border-color:#a0ce4e;
	background-color:rgba(255,255,255,1) !important;	
}

.vertical-gallery .slide-desc{
	position:absolute;
	left:0px;
	bottom:-20px;
	font-size:14px;
	margin-bottom:20px;
	background:#a0ce4e;
	color:#ffffff;
	padding:20px 20px 10px 90px;
	opacity:1 !important;	
}

.vertical-gallery .slide-desc .icon{
	position:absolute;
	left:20px;
	top:20px;
	font-size:50px;
	color:#ffffff;
	line-height:50px;
	width:60px;	
}

.vertical-gallery .slide-desc h4{
	font-size:16px;
	font-weight:600;
}

.vertical-gallery .slide-desc p{
	font-size:14px;
	margin-bottom:0px;
}

.ms-vertical-template .ms-thumb-frame-selected{
	opacity:0.60 !important;	
}

/*** 

====================================================================
	Our Features style
====================================================================

***/

.features-section{
	position:relative;
	padding:40px 0px 30px;
	background:#ffffff;
}

.features-section .column-box{
	margin-bottom:0px;	
}


/*** 

====================================================================
	Page Banner style
====================================================================

***/

.page-banner{
	position:relative;
	padding:80px 0px 0px;
	background-color:#ffffff;
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;
}

.page-banner .page-title{
	position:relative;
	margin-bottom:35px;
	text-align:center;	
}

.page-banner .page-title h1{
	position:relative;
	display:inline-block;
	padding:10px 30px;
	font-size:40px;
	font-weight:300;
	color: #2DEF32;
	text-transform:uppercase;
	background:rgba(255, 255, 255, 0.68);
        
}

.page-banner .bread-crumb{
	position:relative;
	line-height:24px;
	padding-bottom:10px;	
}

.page-banner .bread-crumb a,
.page-banner .bread-crumb span{
	position:relative;
	display:inline-block;
	margin:0px 5px 0px 0px;
	color:#ffffff;
	font-size:14px;	
}

.page-banner .bread-crumb a:hover{
	color:#a0ce4e;	
}

.page-banner .bread-crumb a:after{
	font-family: 'FontAwesome';
	content:'\f105';
	position:relative;
	display:inline-block;
	left:0px;
	top:0px;
	width:24px;
	height:24px;
	text-align:center;
	line-height:24px;
	font-size:16px;	
}

/*** 

====================================================================
	Filters Section style
====================================================================

***/

.filter-section{
	position:relative;
	background:#ffffff;
	padding:50px 0px 20px;	
}

.filter-section .sec-title {
	margin:10px 0px 50px;	
}

.filter-section .filter-tabs{
	float:right;	
}

.filter-section .filter-tabs li{
	position:relative;
	float:left;
	margin:0px 15px 10px 0px;
	padding:4px 20px;
	font-size:15px;
	text-transform:uppercase;
	color:#36404b;
	cursor:pointer;
	background:#ffffff;
	border:1px solid #dddddd;	
}

.filter-section .filter-tabs li:hover,
.filter-section .filter-tabs li.active{
	background:#36404b;
	color:#ffffff;
	border-color:#36404b;
}

.filter-section .filter-list{
	position:relative;	
}

.filter-section .filter-list .column-box{
	position:relative;
	display:none;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	margin-bottom:50px !important;	
}

.filter-section .pagination li{
	border:none !important;
	margin-right:2px;	
}

.filter-section .pagination li a{
	padding:10px 20px;
	font-size:15px;
	color:#292929;
	border:none !important;
}

.filter-section .pagination li:hover a,
.filter-section .pagination li.current a{
	
	color:#5dbf4e;
}


/*** 

====================================================================
	Side Bar Page Style
====================================================================

 ***/
 
.sidebar-page{
	position:relative;
	padding:50px 0px;	
}

.sidebar-page .left-content{
	position:relative;
}

.sidebar-page .side-bar{
	position:relative;
}

.sidebar-page .post{
	position:relative;
	margin-bottom:60px;	
}

.sidebar-page .post .post-image{
	position:relative;
	display:block;
	overflow:hidden;
	margin-bottom:30px;
}

.sidebar-page .post .post-image img{
	position:relative;
	width:100%;
	min-height:160px;
	transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;	
}

.sidebar-page .post .post-image:hover img,
.sidebar-page .post-detail .post-image img{
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
	-ms-transform:scale(1.05,1.05);
	-o-transform:scale(1.05,1.05);
	-moz-transform:scale(1.05,1.05);	
}

.sidebar-page .post .overlay{
	position:absolute;
	left:0px;
	top:0px;
	display:block;
	width:100%;
	height:100%;
	z-index:2;
}

.sidebar-page .post .overlay .icon{
	position:absolute;
	right:-52px;
	bottom:0px;
	display:block;
	text-align:center;
	width:42px;
	height:42px;
	z-index:3;
	opacity:0;
	font-size:18px;
	line-height:40px;
	color:#ffffff;
	background:#a0ce4e;
	border:1px solid #ffffff;
	transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	border-radius:5px 0px 0px 0px;
	-webkit-border-radius:5px 0px 0px 0px;
	-ms-border-radius:5px 0px 0px 0px;
	-moz-border-radius:5px 0px 0px 0px;
	-o-border-radius:5px 0px 0px 0px;
}

.sidebar-page .post:hover .post-image .overlay .icon{
	right:0px;
	opacity:1;	
}

.sidebar-page .post .caption{
	position:absolute;
	left:-90px;
	top:0px;
	width:90px;
	color:#ffffff;
	text-align:center;
	z-index:5;
	transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;	
}

.sidebar-page .post:hover .caption,
.sidebar-page .post-detail .caption{
	left:0px;	
}

.sidebar-page .post .caption .date{
	position:relative;
	background:#a0ce4e;
	padding:20px 0px 10px;
	font-size:15px;
	text-transform:uppercase;
}

.sidebar-page .post .caption .day{
	font-size:38px;
	display:block;
	margin-bottom:10px;
	color:#ffffff;
}

.sidebar-page .post .caption .comments{
	padding:10px 0px;
	background:#36404b;
	font-size:14px;	
}

.sidebar-page .post .caption .comments .fa{
	font-size:18px;	
}

.sidebar-page .post .post-title{
	font-size:18px;
	font-weight:600;
	margin:0px 0px 10px;
}

.sidebar-page .post .post-title a{
	color:#292929;	
}

.sidebar-page .post .post-title a:hover{
	color:#1A934B;	
}

.sidebar-page .post .content-box{
	padding:25px 30px;
	border:1px solid #cccccc;	
}

.sidebar-page .post .post-info{
	position:relative;
	font-size:14px;
	margin-bottom:10px;
}

.sidebar-page .post .post-info a{
	color:#1A934B;	
}

.sidebar-page .post .post-text{
	font-size:16px;
	color:#565656;
	margin-bottom:15px;
	line-height:2em;
}

.sidebar-page .post-detail h2{
	font-size:30px;
	margin:0px 0px 30px;
}

.sidebar-page .post-detail .text{
	margin:30px 0px;
}

.sidebar-page .post-detail{
/*	font-family:'Droid Sans','Open Sans',sans-serif;*/
	font-size:15px;
}

.sidebar-page blockquote{
	font-size:15px;
	padding-top:0px;
	padding-bottom:0px;
	border-left-color:#a0ce4e;	
}

.sidebar-page .blog-detail a,
.sidebar-page blockquote a{
	color:#1A934B;	
}

.sidebar-page .blog-detail p{
	margin-bottom:24px;	
}

.sidebar-page .social-links{
	position:relative;	
}

.sidebar-page .social-links a{
	position:relative;
	display:inline-block;
	width:36px;
	height:32px;
	text-align:center;
	background:#f1f1f1;
	color:#bcbcbc;
	font-size:16px;
	line-height:32px;
	margin:9px 2px 0px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	transition:all 500ms ease-out;
	-webkit-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;	
}

.sidebar-page .social-links a:hover{
	background:#a0ce4e;
	color:#ffffff;
}

.sidebar-page .social-links strong{
	font-size:16px;
	font-weight:600;
	line-height:36px;
	text-transform:capitalize;
	padding-right:40px;	
}

.sidebar-page .about-author{
	position:relative;
	padding:30px;
	border:1px solid #dddddd;
	margin-bottom:40px;	
}

.sidebar-page .about-author h3{
	margin-bottom:30px;
	font-size:20px;
}

.sidebar-page .about-author .author-info{
	margin-bottom:20px;	
}

.sidebar-page .about-author .author-info strong{
	font-weight:600;	
}

.sidebar-page .about-author .author-desc{
	position:relative;
	padding:10px 10px 10px 100px;
}

.sidebar-page .about-author .author-thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:84px;
	height:84px;	
}

.sidebar-page .about-author .author-thumb img{
	width:100%;
	display:block;
}

/*** 

====================================================================
	Comments Area
====================================================================

 ***/

.sidebar-page .comments-area{
	position:relative;	
}

.sidebar-page .comments-area .comment-box{
	position:relative;	
}

.sidebar-page .comments-area .comment{
	position:relative;
	margin:0px 0px 50px 0px;
	padding:0px 0px 10px 110px;	
}

.sidebar-page .comments-area .reply-comment{
	margin-left:50px;	
}

.sidebar-page .comments-area .comment-box .author-thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:84px;
	height:84px;	
}

.sidebar-page .comments-area .comment-box .author-thumb img{
	width:100%;
	display:block;
}

.sidebar-page .comments-area .comment-info{
	margin-bottom:10px;
	color:#bcbcbc;	
}

.sidebar-page .comments-area .comment-box strong{
	color:#292929;
	font-weight:600;	
}

.sidebar-page .comments-area .reply-btn{
	position:absolute;
	right:0px;
	top:-10px;	
}

/*** 

====================================================================
	Comment Form
====================================================================

 ***/

.sidebar-page .comment-form{
	position:relative;	
}

.sidebar-page .comment-form .sec-title{
	margin-bottom:30px;
}

.sidebar-page .comment-form .msg-text{
	margin-bottom:40px;
	color:#565656;
}

.sidebar-page .comment-form .form-group{
	position:relative;
	display:block;
	padding:0px 0px;
	margin-bottom:16px;	
}

.sidebar-page .comment-form .form-group .form-label{
	display:block;
	margin-bottom:12px;
	font-weight:600;	
}

.sidebar-page .comment-form input[type="text"],
.sidebar-page .comment-form input[type="password"],
.sidebar-page .comment-form input[type="email"],
.sidebar-page .comment-form input[type="tel"],
.sidebar-page .comment-form input[type="number"],
.sidebar-page .comment-form input[type="file"],
.sidebar-page .comment-form input[type="url"],
.sidebar-page .comment-form select,
.sidebar-page .comment-form textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:12px 20px;
	font-size:14px;
	color:#292929;
	border:1px solid #dddddd;
	background:#ffffff;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}

.sidebar-page .comment-form input[type="text"]:focus,
.sidebar-page .comment-form input[type="password"]:focus,
.sidebar-page .comment-form input[type="email"]:focus,
.sidebar-page .comment-form input[type="tel"]:focus,
.sidebar-page .comment-form input[type="number"]:focus,
.sidebar-page .comment-form input[type="file"]:focus,
.sidebar-page .comment-form input[type="url"]:focus,
.sidebar-page .comment-form select:focus,
.sidebar-page .comment-form textarea:focus{
	border-color:#292929;	
}

.sidebar-page .comment-form input.error,
.sidebar-page .comment-form textarea.error{
	border-color:#ff0000 !important;
	background:rgba(252,90,27,0.05);
}

.sidebar-page .comment-form label.error{
	display:none !important;	
}

.sidebar-page .comment-form textarea{
	height:272px;
	resize:none;
	margin-bottom:20px;	
}

.sidebar-page .comment-form button{
	background:#36404b;
	padding:10px 20px;
}

.sidebar-page .comment-form button:before{
	background:#a0ce4e;	
}

.sidebar-page .pagination a{
	position:relative;
	display:block;
	line-height:20px;
	padding:12px 16px;
	font-size:16px;
	color:#292929;
	background:#ffffff;
	border:none;
	font-weight:600;
	border-radius:0px !important;
	-webkit-border-radius:0px !important;
	-ms-border-radius:0px !important;
	-o-border-radius:0px !important;
	-moz-border-radius:0px !important;	
}

.sidebar-page .pagination a:hover,.sidebar-page .pagination a.active{
	background:#a0ce4e;
	color:#ffffff;
}

/*** 

====================================================================
	Side Bar Style
====================================================================

 ***/

.side-bar .widget{
	position:relative;
	margin-bottom:50px;
}

.side-bar .search-form input[type="search"],
.side-bar .search-form input[type="text"]{
	position:relative;
	width:100%;
	line-height:24px;
	padding:8px 48px 8px 15px;
	border:1px solid #dddddd;
	background:#ffffff;
	color:#2d2d2d;
	height:42px;
	font-size:14px;
	color:#292929;
}

.side-bar .search-form input[type="search"]:focus,
.side-bar .search-form input[type="text"]:focus{
	border-color:#a0ce4e;	
}

.side-bar .search-form .form-group{
	position:relative;	
}

.side-bar .search-form button{
	position:absolute;
	right:1px;
	top:1px;
	line-height:24px;
	display:block;
	width:44px;
	height:40px;
	padding:8px 10px;
	text-align:center;
	font-size:16px;
	color:#ffffff;
	background:#36404b;	
}

.side-bar .search-form button:hover{
	background:#a0ce4e;	
}

.side-bar .sec-title{
	margin-bottom:30px;	
}


.side-bar .tags a{
	position:relative;
	display:inline-block;
	margin:0px 8px 10px 0px;
	line-height:20px;
	padding:5px 20px;
	font-size:14px;
	background:#bcbcbc;
	color:#ffffff;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.side-bar .tags a:hover{
	color:#ffffff;
	background:#a0ce4e;	
}

.side-bar .latest-updates .update-box{
	position:relative;
	padding:20px 20px;
	border:1px solid #dddddd;
	font-size:14px;
	line-height:1.8em;
	color:#565656;
}

.side-bar .latest-updates h4{
	font-size:16px;
	font-weight:600;
	margin-bottom:10px;
	color:#292929;	
}

.side-bar .latest-comments .comment{
	position:relative;
	margin-bottom:20px;
}

.side-bar .latest-comments .comment-info{
	font-size:14px;
	font-weight:400;
	margin-bottom:10px;
	color:#292929;	
}

.side-bar .latest-comments .comment-info a{
	color:#a0ce4e;	
}

.side-bar .latest-comments .comment .comm-box{
	position:relative;
	padding:20px 20px 10px;
	border:1px solid #dddddd;
	font-size:15px;
	line-height:2em;
	color:#565656;
}

.side-bar .latest-comments .comment .comm-box p a{
	position:relative;
	color:#565656;
}

.side-bar .latest-comments .comment .comm-box p a:hover{
	color:#a0ce4e;	
}

.side-bar .latest-comments .comment .read-more{
	position:relative;
	display:inline-block;
	width:30px;
	height:20px;
	background:url(../images/icons/arrow-next.png) center right no-repeat;	
}

.side-bar .latest-posts .post{
	position:relative;
	font-size:15px;
	margin-bottom:40px;
	min-height:70px;
	padding:0px 0px 0px 90px;
}

.side-bar .latest-posts .post .post-thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:70px;
	height:70px;	
}

.side-bar .latest-posts .post .post-thumb img{
	width:100%;
	display:block;	
}

.side-bar .latest-posts .post h4{
	font-size:16px;
	font-weight:600;
	margin-bottom:10px;
	color:#292929;	
}

.side-bar .latest-posts .post a{
	color:#a0ce4e;	
}

.side-bar .latest-posts .post h4 a{
	color:#292929;	
}

.side-bar .latest-posts .post .fa{
	font-size:18px;	
}

.side-bar .cont-info .cont-box{
	position:relative;
	padding:20px 20px;
	border:1px solid #dddddd;
	font-size:14px;
	line-height:1.8em;
	color:#565656;
}

.side-bar .cont-info .cont-box .text{
	position:relative;
	font-size:15px;
	margin-bottom:16px;
	color:#565656;
}

.side-bar .cont-info .cont-box .info{
	position:relative;
	font-size:16px;
}

.side-bar .cont-info .cont-box .info li{
	position:relative;
	margin-bottom:5px;
	line-height:1.7em;
	color:#565656;
	font-size:15px;	
}

.side-bar .cont-info .cont-box .info li strong{
	position:relative;
	padding-right:8px;
	font-weight:500;
	color:#292929;	
}

.side-bar .cont-info .cont-box .info li a{
	color:#a0ce4e;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;	
}

.side-bar .cont-info .cont-box .info li a:hover{
	color:#11c3f0 !important;	
}

/*** 

====================================================================
	Contact Us Style
====================================================================

 ***/

.contact-form{
	position:relative;	
}

.contact-form .sec-title{
	margin-bottom:30px;
}

.contact-form .msg-text{
	margin-bottom:40px;
	color:#565656;
}

.contact-form .form-group{
	position:relative;
	display:block;
	padding:0px 0px;
	margin-bottom:16px;	
}

.contact-form .form-group .form-label{
	display:block;
	margin-bottom:12px;
	font-weight:600;	
}

.contact-form input[type="text"],
.contact-form input[type="password"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="number"],
.contact-form input[type="file"],
.contact-form input[type="url"],
.contact-form select,
.contact-form textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:12px 20px;
	font-size:14px;
	color:#292929;
	border:1px solid #dddddd;
	background:#ffffff;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="password"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="file"]:focus,
.contact-form input[type="url"]:focus,
.contact-form select:focus,
.contact-form textarea:focus{
	border-color:#292929;	
}

.contact-form input.error,
.contact-form textarea.error{
	border-color:#ff0000 !important;
	background:rgba(252,90,27,0.05);
}

.contact-form label.error{
	display:none !important;	
}

.contact-form textarea{
	height:272px;
	resize:none;
	margin-bottom:20px;	
}

.contact-form button{
                   color:  #ffffff;
	background:#1a934b;
	padding:10px 20px;
}

.contact-form button:before{
	background:#4abf4e;
                    color: #ffffff;
}

.map-location{
	position:relative;
	width:100%;
	height:500px;	
}


/**
* Header Top Infos Styles.
**/

.header-top-infos > ul > li {
    float: right;
    width: 40%;
    border-left: 1px solid #D3D3D3;
    padding: 0 18px;
}
.header-top-infos > ul > li:last-child {
	border: none;
}
.header-top-infos {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	margin-top: 8px;
}
.header-top-infos :hover {
	
    color: #efefef;
	
}
.header-top-infos p {
	margin-bottom: 5px;
}
.header-top-infos li div img {
	float: left;
	margin-right: 10px;
	margin-top: 0px;
	
}
.header-top-infos li div p {
	float: left;
}


/*** 

====================================================================
	activeity activeityactiveity style
====================================================================

***/

.p-video{
    float: left;
    width: 100%;
    padding-right: 10px;
    margin-top: 10px;
    height: 440px;
}
.p-video iframe{
    border: 5px solid rgba(221, 221, 221, 0.31);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important ;
}
.p-video h3{
        position:relative;
	float:left;
        width: 100%;
	text-transform:uppercase;
        text-align: center;
        text-shadow: 1px 1px #ffffff ;
        padding: 10px 10px;
        color: #007C00;
	background:rgba(221, 221, 221, 0.31);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important ;
}
.featured-principal{
        position:relative;
	padding:10px  0px 20px;
	background:#ffffff;
}
.principal-main{
    float: left;
    padding-right: 0px !important;
}

.principal{
         float: left;
         max-width: 48.5%;
         margin-right: 10px;
         box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important ;
/*         padding: 1px 1px 0px 10px;*/
}

.principal h3 {
        position:relative;
	float:left;
        width: 100%;
	text-transform:uppercase;
        text-align: center;
        text-shadow: 1px 1px #ffffff ;
        padding: 10px 10px;
        color: #007C00;
	cursor:pointer;
	background:rgba(221, 221, 221, 0.31);
}
.principal img {
    float: left;
    max-width: 120px;
    max-height: 140px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important ;
    padding: 2px 2px;
    border: 1px solid #ddd;
    margin: 5px;
    margin-right: 10px;
}
.principal p{
  //padding: 15px 10px; 
  margin: 10px;
}

.event-panel{
    float: left;
    padding-left: 10px;
}


/*side bar me  done*//*side bar me  done*/
#sidebar .widget_nav_menu li a{
	color: #2e9df7 !important;
	display: block;
	border-bottom: 1px solid #E7E6E6;
	padding: 10px 10px 10px 0;
}

#sidebar .widget_nav_menu li a:before
{
	font-family: FontAwesome !important;
	content:'\f054';
	font-size:8px;
	padding-right:10px;
}

#sidebar .widget_nav_menu li :hover{
	color: #1a934b !important;
}

.headingsidevar{
   border-bottom: 2px solid #5DBF4E; 
}
 .headingsidevar h3{
    margin-bottom: 20px !important ;
    color: #007C00 ;
    
    
   
}
/*:host { display: inline-block; width: -webkit-fill-available; overflow: hidden; text-align: initial; white-space: nowrap; }:host([direction="up"]), :host([direction="down"]) { overflow: initial; overflow-y: hidden; white-space: initial; }*/

 
/*     position:relative;
	float:left;
	margin:0px 15px 10px 0px;
	padding:4px 20px;
	font-size:15px;
	text-transform:uppercase;
	color:#36404b;
	cursor:pointer;
	background:#ffffff;
	border:1px solid #dddddd;*/
